version: "3.8"

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    volumes:
      - redis_data:/data

  server:
    image: qixiangme903/fsp-core-server:v2.0.0
    container_name: fsp-core-server
    depends_on:
      - redis
    ports:
      - "8084:8084"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    restart: always

  web:
    image: nginx:alpine
    container_name: fsp-core-web
    ports:
      - "80:80"
    volumes:
      - ./build/web:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
    depends_on:
      - server

volumes:
  redis_data:
